footer {
  height: 10rem;
  position: relative;
}

.bike {
  width: 100%;
  height: 2rem;
  position: absolute;
  bottom: 0;
  animation: cycle 30s linear infinite;
}
.bike > img {
  width: 2rem;
}

/* cyclist animation */
@keyframes cycle {
  from {
    transform: translate3d(-110%, 0, 0);
  }
  to {
    transform: translate3d(110%, 0, 0);
  }
}
